#main {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    background-color: lightblue;
    border: 1px solid black;
}

body {
    background-color: cadetblue;
}

.gebruikerdatablok {
    display: inline-block;
}

#wachtwoorddialog {
    background-color: aliceblue;
}
