#main {
    content: "";
    display: table;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding: 10px;
}
div {
    float: left;
    padding: 20px;
}
#schemabox {
    background-color: lightgrey;
    float: left;

}
#schemabox {
    float: bottom;
}
#homeOptions {
    float: left;
}
