#main {
    content: "";
    display: table;
    clear: both;
}
div {
    float: left;
    height: 470px;
    width: 23%;
    padding: 40px;
}
#oefeningbox {
    background-color: lightgrey;
    float: left;
    height: 300px;
    width: 23%;
    padding: 40px;
}
#oefeningbox {
    float: bottom;
}
#homeOptions {
    float: left;
    padding: 20px;
}